.estiloBoton{
    border: solid 0.25px grey;
    margin: 5px;
    background-color: whitesmoke;
}

button.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.MuiButtonBase-root.estiloBoton.css-1y942vo-MuiButtonBase-root-MuiButton-root {
    border: solid 0.25px grey;
    margin: 5px;
    background-color: whitesmoke;
}