header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #f5b8b8;
}

a {text-decoration: none;}

.menuDesktop{color: white;}
.menuSmartphone{color: grey;}